
*{
margin:0;
}

body{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

header{
    color:#447483;
    display: flex;
    justify-content: space-between;
    background-color: #dcdcdc;
    align-items: center;
    padding:20px;
}


nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 375px;
}

nav a {
    color:#447483;
    font-weight: bold;
    text-decoration: none;
  }

  nav li{
    font-size: 20px;
  }

  /* When it mouse hovers over, a slim box with rounded corners and changes color*/
  nav li:hover{
    background-color: #459BB5;
    padding: 3px;
    border-radius: 5px;
    line-height: 1;

    a{
        color:#fff;
    }
  }


main{
   
    margin-top: 20px;
}



/* This section style to the bio section and takes up more space than the img section */
#bio{
    display:flex;
    padding: 10px;
    margin-left: 5px;
}
#bio h2{
    margin-right: 100px;
    text-align: center;
    line-height: 1.5;
    font-size: 35px;
    padding: 15px;
    border-right:#000 2px solid;
    
}

img{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 5px #000;
}

#projects{

}


@media screen and (max-width:768px) {
    header{
        flex-direction: column;
    }
    h1{
        margin-left: 10px;
    }
    
}
 

