body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #dcdcdc;

}

header ul{
    display: flex;
    justify-content: space-around;
}

